input {
tcp {
 'host' => "localhost"
 'port' => "9998"
  }
}


filter {

grok {
match => {
      "message" => '%{NUMBER:ID} %{NUMBER:heartrate} %{NUMBER:respiration} %{NUMBER:bloodpressure_l} %{NUMBER:bloodpressure_h} %{NUMBER:bloodoxygen} %{NUMBER:bodytemp} %{NUMBER:ambiancetemp} %{NUMBER:humidity} %{DATA:FirstName} %{DATA:Email} %{DATA:DoctorEmail} %{DATA:FamilyEmail} %{NUMBER:heartrate_b} %{NUMBER:respiration_b} %{NUMBER:bloodpressure_l_b} %{NUMBER:bloodpressure_h_b} %{NUMBER:bloodoxygen_b} %{NUMBER:bodytemp_b} %{NUMBER:ambiancetemp_b} %{NUMBER:humidity_b}' 
}
 add_tag =>[valid_input]
}


if [heartrate] > [heartrate_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}heartratethrottled"
    add_tag=>  "heartratethrottled" 
    add_field => { "heartrateabovenormal3times" => "%{heartrate}"}
}
mutate {
 add_field => { "heartrateabovenormal" => "%{heartrate}"}
add_tag => ["%{ID}_more_heartrate"]
	}
}	


if [respiration] > [respiration_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlerespiration"
    add_tag => "respirationthrottled"
    add_field => { "respirationabovenormal3times" => "%{respiration}"}
  }
mutate {
add_field => { "respirationabovenormal" => "%{respiration}"}
add_tag => ["%{ID}_more_respiration"]
        }
}

if [bloodpressure_l] > [bloodpressure_l_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodpressure_l"
    add_tag => "bloodpressure_lthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bloodpressure_l"]
        }
}


if [bloodpressure_h] > [bloodpressure_h_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodpressure_h"
    add_tag => "bloodpressure_hthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bloodpressure_h"]
        }
}


if [bloodoxygen] > [bloodoxygen_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodoxygen"
    add_tag => "bloodoxygenthrottled"
    add_field => { "bloodoxygenabovenormal3times" => "%{bloodoxygen}"}
  }
mutate {
add_field => { "bloodoxygenabovenormal" => "%{bloodoxygen}"}
add_tag => ["%{ID}_more_bloodoxygen"]
        }
}


if [bodytemp] > [bodytemp_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebodytemp"
    add_tag => "bodytempthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bodytemp"]
        }
}



if [ambiancetemp] > [ambiancetemp_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttleambiancetemp"
    add_tag => "ambiancetempthrottled"
  }
mutate {
add_tag => ["%{ID}_more_ambiancetemp"]
        }
}



if [humidity] > [humidity_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlehumidity"
    add_tag => "humiditythrottled"
  }
mutate {
add_tag => ["%{ID}_more_humidity"]
        }
}







}




output {



if "heartratethrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Heart Rate' is elevated in 3 readings within last 12 hours. The last reading is %{heartrate}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'Heart Rate' is at a elevated level for past 3 readings."
}
}







if "respirationthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Respiration' is elevated in 3 readings within last 12 hours. The last Reading is %{respiration}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'Respiration' is at a elevated level for past 3 readings."
}
}



if "bloodpressure_lthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  bloodpressure is elevated in 3 readings within last 12 hours. The last Reading is %{bloodpressure_l}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodpressure' is at a elevated level for past 3 readings."
}
}





if "bloodpressure_hthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodpressure_h' is elevated in 3 readings within last 12 hours.The last Reading is %{bloodpressure_h}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodpressure_h' is at a elevated level for past 3 readings."
}
}





if "bloodoxygenthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodoxygen’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodoxygen' is at a elevated level for past 3 readings.The last Reading is %{bloodoxygen}."
}
}




if "bodytempthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bodytemp’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bodytemp' is at a elevated level for past 3 readings.The last Reading is %{bodytemp}."
}
}


if "ambiancetempthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'ambiancetemp’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'ambiancetemp' is at a elevated level for past 3 readings.The last Reading is %{ambiancetemp}."
}
}



if "humiditythrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'humidity’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'humidity' is at a elevated level for past 3 readings.The last Reading is %{humidity}."
}
}




if [heartrate] > [heartrate_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Heart Rate' is %{heartrate} which is more than normal value (%{heartrate_b})"
to => "%{Email}"
body => "Hi %{FirstName}, Your 'Heart Rate' is %{heartrate} which is more than your normal value (%{heartrate_b})"
}
}


if [respiration] > [respiration_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'respiration' is %{respiration} which is more than normal value (%{respiration_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'respiration' is %{respiration} which is more than your normal value (%{respiration_b})"
}
}



if [bloodpressure_l] > [bloodpressure_l_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Diastolic bloodpressure' is %{bloodpressure_l} which is more than normal value (%{bloodpressure_l_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Diastolic bloodpressure' is %{bloodpressure_l} which is more than your normal value (%{bloodpressure_l_b})"
}
}


if [bloodpressure_h] > [bloodpressure_h_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Systolic bloodpressure' is %{bloodpressure_h} which is more than normal value (%{bloodpressure_h_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Systolic bloodpressure' is %{bloodpressure_h} which is more than your normal value (%{bloodpressure_h_b})"
}
}





if [bloodoxygen] > [bloodoxygen_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodoxygen' is %{bloodoxygen} which is more than normal value (%{bloodoxygen_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'bloodoxygen' is %{bloodoxygen} which is more than your normal value (%{bloodoxygen_b})"
}
}



if [bodytemp] > [bodytemp_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bodytemp' is %{bodytemp} which is more than normal value (%{bodytemp_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'bodytemp' is %{bodytemp} which is more than your normal value (%{bodytemp_b})"
}
}




if [ambiancetemp] > [ambiancetemp_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'ambiancetemp' is %{ambiancetemp} which is more than normal value (%{ambiancetemp_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'ambiancetemp' is %{ambiancetemp} which is more than your normal value (%{ambiancetemp_b})"
}
}




if [humidity] > [humidity_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'humidity' is %{humidity} which is more than normal value (%{humidity_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Humidity' is %{humidity} which is more than your normal value (%{humidity_b})"
}
}


  jdbc {
        driver_class => 'com.mysql.jdbc.Driver'
        connection_string => 'jdbc:mysql://localhost:3306/jitlabs?user=root&password=root'
        statement => [ "INSERT INTO Events (id,heartrate,respiration,bloodpressure_l,bloodpressure_h,bloodoxygen,bodytemp,ambiancetemp,humidity,Time) VALUES   (?,?,?,?,?,?,?,?,?,?)", "%{ID}", "%{heartrate}","%{respiration}","%{bloodpressure_l}","%{bloodpressure_h}","%{bloodoxygen}","%{bodytemp}","%{ambiancetemp}","%{humidity}","%{@timestamp}" ]
    }

elasticsearch {
    protocol => "http"
    host => "localhost"
  }



 stdout {
    codec => rubydebug 
}

}


ubuntu@ip-172-31-8-202:~/logstash$ bin
bin/  bind  
ubuntu@ip-172-31-8-202:~/logstash$ bin
bin/  bind  
ubuntu@ip-172-31-8-202:~/logstash$ ls
bin             jitlabskibana.config  LICENSE  mytestemail.conf  README.md  vendor
jitlabs.config  lib                   locales  patterns          spec
ubuntu@ip-172-31-8-202:~/logstash$ cat jitlabskibana.config 
input {
tcp {
 'host' => "localhost"
 'port' => "9998"
  }
}


filter {

grok {
match => {
      "message" => '%{NUMBER:ID} %{NUMBER:heartrate} %{NUMBER:respiration} %{NUMBER:bloodpressure_l} %{NUMBER:bloodpressure_h} %{NUMBER:bloodoxygen} %{NUMBER:bodytemp} %{NUMBER:ambiancetemp} %{NUMBER:humidity} %{DATA:FirstName} %{DATA:Email} %{DATA:DoctorEmail} %{DATA:FamilyEmail} %{NUMBER:heartrate_b} %{NUMBER:respiration_b} %{NUMBER:bloodpressure_l_b} %{NUMBER:bloodpressure_h_b} %{NUMBER:bloodoxygen_b} %{NUMBER:bodytemp_b} %{NUMBER:ambiancetemp_b} %{NUMBER:humidity_b}' 
}
 add_tag =>[valid_input]
}


if [heartrate] > [heartrate_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}heartratethrottled"
    add_tag=>  "heartratethrottled" 
    add_field => { "heartrateabovenormal3times" => "%{heartrate}"}
}
mutate {
 add_field => { "heartrateabovenormal" => "%{heartrate}"}
add_tag => ["%{ID}_more_heartrate"]
	}
}	


if [respiration] > [respiration_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlerespiration"
    add_tag => "respirationthrottled"
    add_field => { "respirationabovenormal3times" => "%{respiration}"}
  }
mutate {
add_field => { "respirationabovenormal" => "%{respiration}"}
add_tag => ["%{ID}_more_respiration"]
        }
}

if [bloodpressure_l] > [bloodpressure_l_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodpressure_l"
    add_tag => "bloodpressure_lthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bloodpressure_l"]
        }
}


if [bloodpressure_h] > [bloodpressure_h_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodpressure_h"
    add_tag => "bloodpressure_hthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bloodpressure_h"]
        }
}


if [bloodoxygen] > [bloodoxygen_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodoxygen"
    add_tag => "bloodoxygenthrottled"
    add_field => { "bloodoxygenabovenormal3times" => "%{bloodoxygen}"}
  }
mutate {
add_field => { "bloodoxygenabovenormal" => "%{bloodoxygen}"}
add_tag => ["%{ID}_more_bloodoxygen"]
        }
}


if [bodytemp] > [bodytemp_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebodytemp"
    add_tag => "bodytempthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bodytemp"]
        }
}



if [ambiancetemp] > [ambiancetemp_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttleambiancetemp"
    add_tag => "ambiancetempthrottled"
  }
mutate {
add_tag => ["%{ID}_more_ambiancetemp"]
        }
}



if [humidity] > [humidity_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlehumidity"
    add_tag => "humiditythrottled"
  }
mutate {
add_tag => ["%{ID}_more_humidity"]
        }
}







}




output {



if "heartratethrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Heart Rate' is elevated in 3 readings within last 12 hours. The last reading is %{heartrate}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'Heart Rate' is at a elevated level for past 3 readings."
}
}







if "respirationthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Respiration' is elevated in 3 readings within last 12 hours. The last Reading is %{respiration}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'Respiration' is at a elevated level for past 3 readings."
}
}



if "bloodpressure_lthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  bloodpressure is elevated in 3 readings within last 12 hours. The last Reading is %{bloodpressure_l}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodpressure' is at a elevated level for past 3 readings."
}
}





if "bloodpressure_hthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodpressure_h' is elevated in 3 readings within last 12 hours.The last Reading is %{bloodpressure_h}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodpressure_h' is at a elevated level for past 3 readings."
}
}





if "bloodoxygenthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodoxygen’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodoxygen' is at a elevated level for past 3 readings.The last Reading is %{bloodoxygen}."
}
}




if "bodytempthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bodytemp’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bodytemp' is at a elevated level for past 3 readings.The last Reading is %{bodytemp}."
}
}


if "ambiancetempthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'ambiancetemp’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'ambiancetemp' is at a elevated level for past 3 readings.The last Reading is %{ambiancetemp}."
}
}



if "humiditythrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'humidity’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'humidity' is at a elevated level for past 3 readings.The last Reading is %{humidity}."
}
}




if [heartrate] > [heartrate_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Heart Rate' is %{heartrate} which is more than normal value (%{heartrate_b})"
to => "%{Email}"
body => "Hi %{FirstName}, Your 'Heart Rate' is %{heartrate} which is more than your normal value (%{heartrate_b})"
}
}


if [respiration] > [respiration_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'respiration' is %{respiration} which is more than normal value (%{respiration_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'respiration' is %{respiration} which is more than your normal value (%{respiration_b})"
}
}



if [bloodpressure_l] > [bloodpressure_l_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Diastolic bloodpressure' is %{bloodpressure_l} which is more than normal value (%{bloodpressure_l_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Diastolic bloodpressure' is %{bloodpressure_l} which is more than your normal value (%{bloodpressure_l_b})"
}
}


if [bloodpressure_h] > [bloodpressure_h_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Systolic bloodpressure' is %{bloodpressure_h} which is more than normal value (%{bloodpressure_h_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Systolic bloodpressure' is %{bloodpressure_h} which is more than your normal value (%{bloodpressure_h_b})"
}
}





if [bloodoxygen] > [bloodoxygen_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodoxygen' is %{bloodoxygen} which is more than normal value (%{bloodoxygen_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'bloodoxygen' is %{bloodoxygen} which is more than your normal value (%{bloodoxygen_b})"
}
}



if [bodytemp] > [bodytemp_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bodytemp' is %{bodytemp} which is more than normal value (%{bodytemp_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'bodytemp' is %{bodytemp} which is more than your normal value (%{bodytemp_b})"
}
}




if [ambiancetemp] > [ambiancetemp_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'ambiancetemp' is %{ambiancetemp} which is more than normal value (%{ambiancetemp_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'ambiancetemp' is %{ambiancetemp} which is more than your normal value (%{ambiancetemp_b})"
}
}




if [humidity] > [humidity_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'humidity' is %{humidity} which is more than normal value (%{humidity_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Humidity' is %{humidity} which is more than your normal value (%{humidity_b})"
}
}


  jdbc {
        driver_class => 'com.mysql.jdbc.Driver'
        connection_string => 'jdbc:mysql://localhost:3306/jitlabs?user=root&password=root'
        statement => [ "INSERT INTO Events (id,heartrate,respiration,bloodpressure_l,bloodpressure_h,bloodoxygen,bodytemp,ambiancetemp,humidity,Time) VALUES   (?,?,?,?,?,?,?,?,?,?)", "%{ID}", "%{heartrate}","%{respiration}","%{bloodpressure_l}","%{bloodpressure_h}","%{bloodoxygen}","%{bodytemp}","%{ambiancetemp}","%{humidity}","%{@timestamp}" ]
    }

elasticsearch {
    protocol => "http"
    host => "localhost"
  }



 stdout {
    codec => rubydebug 
}

}


ubuntu@ip-172-31-8-202:~/logstash$ clear

ubuntu@ip-172-31-8-202:~/logstash$ cat jitlabskibana.config 
input {
tcp {
 'host' => "localhost"
 'port' => "9998"
  }
}


filter {

grok {
match => {
      "message" => '%{NUMBER:ID} %{NUMBER:heartrate} %{NUMBER:respiration} %{NUMBER:bloodpressure_l} %{NUMBER:bloodpressure_h} %{NUMBER:bloodoxygen} %{NUMBER:bodytemp} %{NUMBER:ambiancetemp} %{NUMBER:humidity} %{DATA:FirstName} %{DATA:Email} %{DATA:DoctorEmail} %{DATA:FamilyEmail} %{NUMBER:heartrate_b} %{NUMBER:respiration_b} %{NUMBER:bloodpressure_l_b} %{NUMBER:bloodpressure_h_b} %{NUMBER:bloodoxygen_b} %{NUMBER:bodytemp_b} %{NUMBER:ambiancetemp_b} %{NUMBER:humidity_b}' 
}
 add_tag =>[valid_input]
}


if [heartrate] > [heartrate_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}heartratethrottled"
    add_tag=>  "heartratethrottled" 
    add_field => { "heartrateabovenormal3times" => "%{heartrate}"}
}
mutate {
 add_field => { "heartrateabovenormal" => "%{heartrate}"}
add_tag => ["%{ID}_more_heartrate"]
	}
}	


if [respiration] > [respiration_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlerespiration"
    add_tag => "respirationthrottled"
    add_field => { "respirationabovenormal3times" => "%{respiration}"}
  }
mutate {
add_field => { "respirationabovenormal" => "%{respiration}"}
add_tag => ["%{ID}_more_respiration"]
        }
}

if [bloodpressure_l] > [bloodpressure_l_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodpressure_l"
    add_tag => "bloodpressure_lthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bloodpressure_l"]
        }
}


if [bloodpressure_h] > [bloodpressure_h_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodpressure_h"
    add_tag => "bloodpressure_hthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bloodpressure_h"]
        }
}


if [bloodoxygen] > [bloodoxygen_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebloodoxygen"
    add_tag => "bloodoxygenthrottled"
    add_field => { "bloodoxygenabovenormal3times" => "%{bloodoxygen}"}
  }
mutate {
add_field => { "bloodoxygenabovenormal" => "%{bloodoxygen}"}
add_tag => ["%{ID}_more_bloodoxygen"]
        }
}


if [bodytemp] > [bodytemp_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlebodytemp"
    add_tag => "bodytempthrottled"
  }
mutate {
add_tag => ["%{ID}_more_bodytemp"]
        }
}



if [ambiancetemp] > [ambiancetemp_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttleambiancetemp"
    add_tag => "ambiancetempthrottled"
  }
mutate {
add_tag => ["%{ID}_more_ambiancetemp"]
        }
}



if [humidity] > [humidity_b] {

throttle {
    after_count => 3
    period => 3600
    key => "%{ID}throttlehumidity"
    add_tag => "humiditythrottled"
  }
mutate {
add_tag => ["%{ID}_more_humidity"]
        }
}







}




output {



if "heartratethrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Heart Rate' is elevated in 3 readings within last 12 hours. The last reading is %{heartrate}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'Heart Rate' is at a elevated level for past 3 readings."
}
}







if "respirationthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Respiration' is elevated in 3 readings within last 12 hours. The last Reading is %{respiration}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'Respiration' is at a elevated level for past 3 readings."
}
}



if "bloodpressure_lthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  bloodpressure is elevated in 3 readings within last 12 hours. The last Reading is %{bloodpressure_l}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodpressure' is at a elevated level for past 3 readings."
}
}





if "bloodpressure_hthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodpressure_h' is elevated in 3 readings within last 12 hours.The last Reading is %{bloodpressure_h}."
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodpressure_h' is at a elevated level for past 3 readings."
}
}





if "bloodoxygenthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodoxygen’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bloodoxygen' is at a elevated level for past 3 readings.The last Reading is %{bloodoxygen}."
}
}




if "bodytempthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bodytemp’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'bodytemp' is at a elevated level for past 3 readings.The last Reading is %{bodytemp}."
}
}


if "ambiancetempthrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'ambiancetemp’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'ambiancetemp' is at a elevated level for past 3 readings.The last Reading is %{ambiancetemp}."
}
}



if "humiditythrottled" in [tags] {


email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'humidity’ is elevated in 3 readings within last 12 hours"
to => "%{DoctorEmail},%{Email},%{FamilyEmail}"
body => "Hi, %{FirstName}'s 'humidity' is at a elevated level for past 3 readings.The last Reading is %{humidity}."
}
}




if [heartrate] > [heartrate_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Heart Rate' is %{heartrate} which is more than normal value (%{heartrate_b})"
to => "%{Email}"
body => "Hi %{FirstName}, Your 'Heart Rate' is %{heartrate} which is more than your normal value (%{heartrate_b})"
}
}


if [respiration] > [respiration_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'respiration' is %{respiration} which is more than normal value (%{respiration_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'respiration' is %{respiration} which is more than your normal value (%{respiration_b})"
}
}



if [bloodpressure_l] > [bloodpressure_l_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Diastolic bloodpressure' is %{bloodpressure_l} which is more than normal value (%{bloodpressure_l_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Diastolic bloodpressure' is %{bloodpressure_l} which is more than your normal value (%{bloodpressure_l_b})"
}
}


if [bloodpressure_h] > [bloodpressure_h_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'Systolic bloodpressure' is %{bloodpressure_h} which is more than normal value (%{bloodpressure_h_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Systolic bloodpressure' is %{bloodpressure_h} which is more than your normal value (%{bloodpressure_h_b})"
}
}





if [bloodoxygen] > [bloodoxygen_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bloodoxygen' is %{bloodoxygen} which is more than normal value (%{bloodoxygen_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'bloodoxygen' is %{bloodoxygen} which is more than your normal value (%{bloodoxygen_b})"
}
}



if [bodytemp] > [bodytemp_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'bodytemp' is %{bodytemp} which is more than normal value (%{bodytemp_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'bodytemp' is %{bodytemp} which is more than your normal value (%{bodytemp_b})"
}
}




if [ambiancetemp] > [ambiancetemp_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'ambiancetemp' is %{ambiancetemp} which is more than normal value (%{ambiancetemp_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'ambiancetemp' is %{ambiancetemp} which is more than your normal value (%{ambiancetemp_b})"
}
}




if [humidity] > [humidity_b] {

email{
options => [
         "starttls","true",
         "smtpIporHost", "smtp.gmail.com",
         "port", "587",
         "userName", "youraddress@gmail.com",
         "password", "**********************",
         "authenticationType", "plain",
            "debug", "true"
 ]
from => "<youraddress@gmail.com>"
subject => "Alert :%{FirstName}'s  'humidity' is %{humidity} which is more than normal value (%{humidity_b})"
to => "<%{Email}>"
body => "Hi %{FirstName}, Your 'Humidity' is %{humidity} which is more than your normal value (%{humidity_b})"
}
}


  jdbc {
        driver_class => 'com.mysql.jdbc.Driver'
        connection_string => 'jdbc:mysql://localhost:3306/jitlabs?user=root&password=root'
        statement => [ "INSERT INTO Events (id,heartrate,respiration,bloodpressure_l,bloodpressure_h,bloodoxygen,bodytemp,ambiancetemp,humidity,Time) VALUES   (?,?,?,?,?,?,?,?,?,?)", "%{ID}", "%{heartrate}","%{respiration}","%{bloodpressure_l}","%{bloodpressure_h}","%{bloodoxygen}","%{bodytemp}","%{ambiancetemp}","%{humidity}","%{@timestamp}" ]
    }

elasticsearch {
    protocol => "http"
    host => "localhost"
  }



 stdout {
    codec => rubydebug 
}

}
